In [1]:
import pandas as pd

In [2]:
data_cab = pd.read_csv("./uber-lyft-cab-prices/cab_rides.csv",delimiter=',')
data_weather = pd.read_csv("./uber-lyft-cab-prices/weather.csv",delimiter=',')

In [3]:
data_cab.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [4]:
data_cab = data_cab.drop(columns=['surge_multiplier','id','product_id'])

In [5]:
data_weather.head()

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.0,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.0,1012.14,0.1786,1545003901,0.75,11.49

In [6]:
from datetime import datetime
data_cab['date_time'] = [datetime.utcfromtimestamp(i/1000).strftime('%Y-%m-%d:%H') for i in data_cab['time_stamp']]
data_cab['date'] = [datetime.utcfromtimestamp(i/1000).strftime('%Y-%m-%d') for i in data_cab['time_stamp']]
data_cab['time'] = [datetime.utcfromtimestamp(i/1000).strftime('%H:%M') for i in data_cab['time_stamp']]
data_cab['weekday'] = [(pd.Timestamp(i)).dayofweek for i in data_cab['date']]
data_cab = data_cab.drop(columns=['time_stamp'])
data_weather['date_time'] = [datetime.utcfromtimestamp(i).strftime('%Y-%m-%d:%H') for i in data_weather['time_stamp']]
data_weather = data_weather.drop(columns=['time_stamp'])

In [7]:
data_cab.head()

,distance,cab_type,destination,source,price,name,date_time,date,time,weekday
0,0.44,Lyft,North Station,Haymarket Square,5.0,Shared,2018-12-16:09,2018-12-16,09:30,6
1,0.44,Lyft,North Station,Haymarket Square,11.0,Lux,2018-11-27:02,2018-11-27,02:00,1
2,0.44,Lyft,North Station,Haymarket Square,7.0,Lyft,2018-11-28:01,2018-11-28,01:00,2
3,0.44,Lyft,North Station,Haymarket Square,26.0,Lux Black XL,2018-11-30:04,2018-11-30,04:53,4
4,0.44,Lyft,North Station,Haymarket Square,9.0,Lyft XL,2018-11-29:03,2018-11-29,03:49,3

In [8]:
data_weather.head()

,temp,location,clouds,pressure,rain,humidity,wind,date_time
0,42.42,Back Bay,1.0,1012.14,0.1228,0.77,11.25,2018-12-16:23
1,42.43,Beacon Hill,1.0,1012.15,0.1846,0.76,11.32,2018-12-16:23
2,42.50,Boston University,1.0,1012.15,0.1089,0.76,11.07,2018-12-16:23
3,42.11,Fenway,1.0,1012.13,0.0969,0.77,11.09,2018-12-16:23
4,43.13,Financial District,1.0,1012.14,0.1786,0.75,11.49,2018-12-16:23

In [9]:
data_cab['date-location'] = data_cab.source.astype(str)+","+data_cab.date_time.astype(str)
data_weather['date-location'] = data_weather.location.astype(str)+","+data_weather.date_time.astype(str)

In [10]:
data_cab.head()

,distance,cab_type,destination,source,price,name,date_time,date,time,weekday,date-location
0,0.44,Lyft,North Station,Haymarket Square,5.0,Shared,2018-12-16:09,2018-12-16,09:30,6,"Haymarket Square,2018-12-16:09"
1,0.44,Lyft,North Station,Haymarket Square,11.0,Lux,2018-11-27:02,2018-11-27,02:00,1,"Haymarket Square,2018-11-27:02"
2,0.44,Lyft,North Station,Haymarket Square,7.0,Lyft,2018-11-28:01,2018-11-28,01:00,2,"Haymarket Square,2018-11-28:01"
3,0.44,Lyft,North Station,Haymarket Square,26.0,Lux Black XL,2018-11-30:04,2018-11-30,04:53,4,"Haymarket Square,2018-11-30:04"
4,0.44,Lyft,North Station,Haymarket Square,9.0,Lyft XL,2018-11-29:03,2018-11-29,03:49,3,"Haymarket Square,2018-11-29:03"

In [11]:
data_weather.head()

,temp,location,clouds,pressure,rain,humidity,wind,date_time,date-location
0,42.42,Back Bay,1.0,1012.14,0.1228,0.77,11.25,2018-12-16:23,"Back Bay,2018-12-16:23"
1,42.43,Beacon Hill,1.0,1012.15,0.1846,0.76,11.32,2018-12-16:23,"Beacon Hill,2018-12-16:23"
2,42.50,Boston University,1.0,1012.15,0.1089,0.76,11.07,2018-12-16:23,"Boston University,2018-12-16:23"
3,42.11,Fenway,1.0,1012.13,0.0969,0.77,11.09,2018-12-16:23,"Fenway,2018-12-16:23"
4,43.13,Financial District,1.0,1012.14,0.1786,0.75,11.49,2018-12-16:23,"Financial District,2018-12-16:23"

In [12]:
data_weather.index = data_weather['date-location']
data_merged = data_cab.join(data_weather,on=['date-location'],rsuffix ='_copy')

In [13]:
import numpy as np
data_merged = data_merged[pd.notnull(data_merged['temp'])]
data_merged['rain'] = data_merged['rain'].replace(np.nan,0)

In [14]:
data_merged = data_merged.drop(columns=['date_time_copy','date-location_copy'])

In [15]:
data_merged = data_merged.drop(columns=['date-location','location'])

In [16]:
data_merged[:100]

,distance,cab_type,destination,source,price,name,date_time,date,time,weekday,temp,clouds,pressure,rain,humidity,wind
0,0.44,Lyft,North Station,Haymarket Square,5.0,Shared,2018-12-16:09,2018-12-16,09:30,6,38.46,0.29,1022.25,0.0000,0.76,7.68
1,0.44,Lyft,North Station,Haymarket Square,11.0,Lux,2018-11-27:02,2018-11-27,02:00,1,44.31,1.00,1003.17,0.1123,0.90,13.69
1,0.44,Lyft,North Station,Haymarket Square,11.0,Lux,2018-11-27:02,2018-11-27,02:00,1,43.82,0.99,1002.59,0.0997,0.89,11.57
3,0.44,Lyft,North Station,Haymarket Square,26.0,Lux Black XL,2018-11-30:04,2018-11-30,04:53,4,35.08,0.00,1013.71,0.0000,0.70,5.25
4,0.44,Lyft,North Station,Haymarket Square,9.0,Lyft XL,2018-11-29:03,2018-11-29,03:49,3,37.58,0.42,998.64,0.0000,0.71,11.30
4,0.44,Lyft,North Station,Haymarket Square,9.0,Lyft XL,2018-11-29:03,2018-11-29,03:49,3,37.80,0.47,998.20,0.0000,0.70,11.02
4,0.44,Lyft,North Station,Haymarket Square,9.0,Lyft XL,2018-11-29:03,2018-11-29,03:49,3,37.66,0.41,998.42,0.0000,0.71,11.16
5,0.44,Lyft,North Station,Haymarket Square,16.5,Lux Black,2018-12-17:18,2018-12-17,18:25,0,40.78,0.93,1000.15,0.0000,0.79,7.55
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.65,0.93,1013.76,0.0000,0.92,3.01
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.39,0.92,1013.79,0.0000,0.93,2.71
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.40,0.92,1013.79,0.0000,0.93,2.71
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.64,0.92,1013.76,0.0000,0.92,3.02
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.65,0.93,1013.76,0.0000,0.92,3.01
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.68,0.93,1013.74,0.0000,0.92,3.00
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.67,0.89,1013.82,0.0000,0.92,1.81
6,1.08,Lyft,Northeastern University,Back Bay,10.5,Lyft XL,2018-11-26:05,2018-11-26,05:03,0,40.41,1.00,1014.15,0.0000,0.91,0.70
7,1.08,Lyft,Northeastern University,Back Bay,16.5,Lux Black,2018-12-02:19,2018-12-02,19:53,6,50.49,1.00,1004.05,0.0000,0.92,2.46
8,1.08,Lyft,Northeastern University,Back Bay,3.0,Shared,2018-12-03:06,2018-12-03,06:28,0,44.85,0.89,1000.70,0.0000,0.95,1.53
9,1.08,Lyft,Northeastern University,Back Bay,27.5,Lux Black XL,2018-11-27:10,2018-11-27,10:45,1,44.56,0.99,990.78,0.0213,0.96,5.87
9,1.08,Lyft,Northeastern University,Back Bay,27.5,Lux Black XL,2018-11-27:10,2018-11-27,10:45,1,44.95,0.99,990.87,0.0087,0.97,6.14
10,1.08,Lyft,Northeastern University,Back Bay,13.5,Lux,2018-11-30:16,2018-11-30,16:13,4,41.78,0.15,1016.57,0.0000,0.57,2.51
11,1.08,Lyft,Northeastern University,Back Bay,7.0,Lyft,2018-11-28:19,2018-11-28,19:23,2,41.09,1.00,991.83,0.0000,0.64,9.45
11,1.08,Lyft,Northeastern University,Back Bay,7.0,Lyft,2018-11-28:19,2018-11-28,19:23,2,40.51,1.00,992.59,0.0000,0.66,9.88
11,1.08,Lyft,Northeastern University,Back Bay,7.0,Lyft,2018-11-28:19,2018-11-28,19:23,2,41.05,1.00,991.92,0.0000,0.64,9.50
12,1.11,Uber,West End,North End,12.0,UberXL,2018-11-30:22,2018-11-30,22:13,4,38.65,0.96,1017.23,0.0000,0.65,3.13
13,1.11,Uber,West End,North End,16.0,Black,2018-12-13:10,2018-12-13,10:50,3,20.12,0.43,1031.07,0.0000,0.64,3.88
14,1.11,Uber,West End,North End,7.5,UberX,2018-12-13:19,2018-12-13,19:15,3,32.75,0.51,1033.75,0.0000,0.57,1.90
15,1.11,Uber,West End,North End,7.5,WAV,2018-12-16:23,2018-12-16,23:55,6,42.36,1.00,1012.15,0.2088,0.77,11.46
16,1.11,Uber,West End,North End,26.0,Black SUV,2018-12-14:00,2018-12-14,00:40,4,30.07,0.69,1034.97,0.0000,0.68,1.98
17,1.11,Uber,West End,North End,5.5,UberPool,2018-11-29:19,2018-11-29,19:18,3,42.48,0.58,1007.66,0.0000,0.54,10.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,1.76,Lyft,South Station,North Station,5.0,Shared,2018-11-28:10,2018-11-28,10:17,2,33.23,0.13,991.16,0.0000,0.84,5.51
45,1.76,Lyft,South Station,North Station,9.0,Lyft,2018-12-16:12,2018-12-16,12:30,6,40.37,0.84,1022.49,0.0000,0.74,7.55
46,1.76,Lyft,South Station,North Station,16.5,Lux,2018-12-16:00,2018-12-16,00:40,6,42.70,0.17,1023.05,0.0000,0.71,6.40
47,1.76,Lyft,South Station,North Station,26.0,Lux Black XL,2018-12-15:14,2018-12-15,14:15,5,46.92,0.91,1022.17,0.0000,0.88,3.99
48,1.76,Lyft,South Station,North Station,13.5,Lyft XL,2018-11-27:10,2018-11-27,10:00,1,44.57,0.99,990.79,0.0367,0.95,6.06
48,1.76,Lyft,South Station,North Station,13.5,Lyft XL,2018-11-27:10,2018-11-27,10:00,1,45.00,0.99,990.88,0.0070,0.97,6.37
49,1.76,Lyft,South Station,North Station,19.5,Lux Black,2018-11-28:16,2018-11-28,16:08,2,41.26,0.63,991.56,0.0000,0.62,9.87
49,1.76,Lyft,South Station,North Station,19.5,Lux Black,2018-11-28:16,2018-11-28,16:08,2,41.20,0.68,991.60,0.0000,0.63,10.37
49,1.76,Lyft,South Station,North Station,19.5,Lux Black,2018-11-28:16,2018-11-28,16:08,2,41.25,0.64,991.56,0.0000,0.62,9.94
50,0.71,Lyft,West End,Haymarket Square,7.0,Lyft,2018-12-01:12,2018-12-01,12:23,5,33.30,0.32,1022.50,0.0000,0.79,4.87
51,0.71,Lyft,West End,Haymarket Square,9.0,Lyft XL,2018-11-26:14,2018-11-26,14:38,0,43.12,0.90,1014.56,0.0031,0.91,3.82
51,0.71,Lyft,West End,Haymarket Square,9.0,Lyft XL,2018-11-26:14,2018-11-26,14:38,0,42.63,0.91,1014.85,0.0030,0.90,2.23
52,0.71,Lyft,West End,Haymarket Square,10.5,Lux,2018-12-02:02,2018-12-02,02:38,6,36.04,0.52,1023.46,0.0000,0.81,1.62
53,0.71,Lyft,West End,Haymarket Square,3.0,Shared,2018-11-29:18,2018-11-29,18:03,3,43.18,0.37,1007.39,0.0000,0.53,11.32
54,1.23,Lyft,Theatre District,Haymarket Square,5.0,Shared,2018-12-03:07,2018-12-03,07:52,0,44.45,0.78,1000.87,0.0000,0.96,3.54
55,1.23,Lyft,Theatre District,Haymarket Square,13.5,Lux,2018-11-26:12,2018-11-26,12:41,0,40.10,0.95,1015.21,0.0000,0.93,2.67
55,1.23,Lyft,Theatre District,Haymarket Square,13.5,Lux,2018-11-26:12,2018-11-26,12:41,0,40.52,0.93,1015.17,0.0000,0.95,3.16
56,1.23,Lyft,Theatre District,Haymarket Square,11.0,Lyft XL,2018-12-03:03,2018-12-03,03:18,0,46.76,0.94,1002.28,0.0000,0.93,2.90
57,1.23,Lyft,Theatre District,Haymarket Square,26.0,Lux Black XL,2018-11-28:23,2018-11-28,23:03,2,39.48,0.83,995.62,0.0000,0.66,10.88
57,1.23,Lyft,Theatre District,Haymarket Square,26.0,Lux Black XL,2018-11-28:23,2018-11-28,23:03,2,39.43,0.82,995.66,0.0000,0.66,10.99
57,1.23,Lyft,Theatre District,Haymarket Square,26.0,Lux Black XL,2018-11-28:23,2018-11-28,23:03,2,39.36,0.86,995.90,0.0000,0.66,10.43
57,1.23,Lyft,Theatre District,Haymarket Square,26.0,Lux Black XL,2018-11-28:23,2018-11-28,23:03,2,39.30,0.85,995.95,0.0000,0.66,10.54
57,1.23,Lyft,Theatre District,Haymarket Square,26.0,Lux Black XL,2018-11-28:23,2018-11-28,23:03,2,39.40,0.87,995.85,0.0000,0.66,10.34
57,1.23,Lyft,Theatre District,Haymarket Square,26.0,Lux Black XL,2018-11-28:23,2018-11-28,23:03,2,39.94,0.98,995.03,0.0000,0.64,10.02
58,1.23,Lyft,Theatre District,Haymarket Square,16.5,Lux Black,2018-11-27:01,2018-11-27,01:42,1,44.12,0.99,1005.36,0.2232,0.90,11.37
58,1.23,Lyft,Theatre District,Haymarket Square,16.5,Lux Black,2018-11-27:01,2018-11-27,01:42,1,44.11,0.98,1005.47,0.1117,0.90,11.14
58,1.23,Lyft,Theatre District,Haymarket Square,16.5,Lux Black,2018-11-27:01,2018-11-27,01:42,1,44.26,1.00,1004.48,0.7625,0.90,13.40
58,1.23,Lyft,Theatre District,Haymarket Square,16.5,Lux Black,2018-11-27:01,2018-11-27,01:42,1,44.12,0.99,1005.40,0.2997,0.90,11.28
59,1.23,Lyft,Theatre District,Haymarket Square,7.0,Lyft,2018-12-03:16,2018-12-03,16:03,0,55.28,0.48,999.23,0.0000,0.68,16.18
60,1.16,Uber,West End,North End,NaN,Taxi,2018-12-13:20,2018-12-13,20:10,3,32.21,0.58,1034.09,0.0000,0.62,1.45